<div class="container" id="0">
  <!-- Content here -->
  <div class="bsuc">
    <h1>BSUC 510A:Stop subscriber provisioning when license capacity reached
    </h1>
  </div>

  <div class ="summ">
    <p>
      BSUC: c510a (Status) –


      Delivered .
      License Server analysis is on-going.
    </p>
    <p>bullet point here</p>
  </div>
  <div class="status">
    <h1><B>Decisions/Actions needed:</B>
    </h1>
  </div>

  <div class="row grid-container">
    <div class="col-md-10">
      <div class="table">
        <table class="table table-striped table-hover">
          <thead>
          <tr>

            <th>Overall Progress</th>
            <th>Cost</th>
            <th >Status</th>
            <th>Important dates</th>
          </tr>
          </thead>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Maria Anders</td>

          </tr>
        </table>
      </div>
    </div>

  </div>
</div>



